.button {
  touch-action: manipulation;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  user-select: none;
  outline: 0;
  background: $color_blue;
  white-space: nowrap;
  border-radius: 7px;
  text-decoration: none;
  //@include ts(background, border-color);

  & .button__text {
    position: relative;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    color: $color_white;
    font-weight: 500;
    @include ts(color);
    &:hover {
      color: green;
    }
  }

  /* HOVER */
  &:hover {
    cursor: pointer;
  }
}

/* Модификаторы */
.button_width_available {
  width: 100%;
}

/* Модификаторы КОНЕЦ */

/*Виды кнопок*/
.button.button_view {
  &_action {
    background: yellow;
    & .button__text {
      color: #000;
    }
  }
}
/*Виды кнопок КОНЕЦ*/

/*Размеры кнопок*/

/*S - Начало*/
.button_size_s {
  font-size: 12px;
  line-height: 14px;
}
.button_size_s .button__text {
  margin: 3px 15px;
  @include bp768-block() {
    margin: 3px 30px;
  }

  @include bp994-block() {
    margin: 5px 45px;
  }
}
/*S - КОНЕЦ*/

/*M - Начало*/
.button_size_m {
  font-size: 16px;
  line-height: 20px;
}

.button_size_m .button__text {
  margin: 7px 40px;
}
/*M - КОНЕЦ*/

/*L - Начало*/
.button_size_l {
  font-size: 18px;
  line-height: 22px;
}
.button_size_l .button__text {
  margin: 15px 25px;
}
/*L - КОНЕЦ*/

/*XL - Начало*/
.button_size_xl {
  font-size: 22px;
  line-height: 25px;
}

.button_size_xl .button__text {
  margin: 5.5px 55px;

  @include bp994-block() {
    margin: 12px 90px;
  }
}
/*XL - КОНЕЦ*/
