{% extends "layouts/layout.njk" %}

{% block main %}

	{% include "blocks/header/header.njk" %}

	{% include "blocks/banner/banner.njk" %}
	{% include "screen/screen-second.njk" %}
	{% include "screen/screen-third.njk" %}
	{% include "screen/screen-fourth.njk" %}
	{% include "screen/screen-six.njk" %}
	{% include "screen/screen-seven.njk" %}
	{% include "screen/screen-eighth.njk" %}
	{% set inject = {} %}


	


{#  {% include "blocks/footer/footer.njk" %} #}

	
{% endblock %}
 