/* Библиотеки */
@import "./lib/smart-grid.scss";

/* INIT */
@import "./preset/reset.scss";
@import "./preset/var.scss";
@import "./preset/mixins.scss";
// @import "./preset/fonts.scss";
@import "./preset/animation.scss";
@import "./preset/block-s.scss";

/* Фундоментальные Блоки */
@import "./fundamental/page.scss";
@import "./fundamental/layout.scss";
@import "./fundamental/header.scss";
@import "./fundamental/footer.scss";

/* Кит */
@import "./kit/button.scss";
@import "./kit/checkbox.scss";
@import "./kit/deco.scss";
@import "./kit/form.scss";
@import "./kit/icon.scss";
@import "./kit/input.scss";
@import "./kit/label.scss";
@import "./kit/link.scss";
@import "./kit/relative-box.scss";
@import "./kit/text.scss";
@import "./kit/textarea.scss";
@import "./kit/img.scss";
@import "./kit/title.scss";

@import "./kit/logo.scss";
/* Блоки Верстки */
@import "./custom/banner.scss";
@import "./custom/video.scss";
@import "./custom/screen.scss";
@import "./custom/screen-second.scss";

@import "./custom/news.scss";
@import "./custom/screen-third.scss";
/* Навигация */
@import "./menu/menu.scss";
* {
  box-sizing: border-box;
}
html {
  height: 100%;
  overflow-y: scroll;
}

body {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
