/* COLORS */
$color_white: #fff;
$color_dark: #000;
$color_blue: #5A81EA;
$color_blue_dark: #1A1F2C;
$color_blue_light: #2A324A;
$color_green: #2ffed9;
$color_green_dark: #30fdd9;
$color_yellow: #e2cf22;

/* TIME*/

$th: 0.25s;
