<a href="{{item.href}}" class="link menu__item block-s__link">
	{% if inject.incIcon %}
		<span class="icon {{item.icon}}"></span>
	{% endif %}
	
	<span class="menu__item-text">{{item.name}}</span>
</a>