<div class="screen-second screen">
  <div class="screen__inner layout__wrap screen-second__inner">
    <div class="screen-second__title">Earn interest on your crypto</div>
    <div class="screen-second__text">
      This loophole allows you 
      <a href="#" class="link">to earn 130+% on your crypto</a>
      ,but a few people know how to use it. There's no use to open bank deposits because of Liquidity pools.
    </div>
  </div>
</div>