<div class="screen-seven screen">
  <div class="screen__inner layout__wrap screen-seven__inner">
      <div class="screen-seven__title-box">
        <div class="screen-seven__title">Choose a liquidity pool</div>
         <a href="/registration.html" class="button button_size_l screen-seven__button-mob">
          <div class="button__text">Provide liquidity and earn</div>
        </a>
      </div>
      
      <div class="screen-seven__img-box">
        {# <img src="./img/diagramma/diagramma_m.svg" alt="" class="screen-seven__img screen-seven__img_m img"> #}
        <img src="./img/diagramma/diagramma_d.svg" alt="" class="screen-seven__img screen-seven__img_d img">
      </div>

      <div class="screen-seven__button-box">
        <a href="/registration.html" class="button button_size_l">
          <div class="button__text">Provide liquidity and earn</div>
        </a>
      </div>

    

  </div>
</div>