<div class="screen screen-third">
  <div class="screen__inner layout__wrap news">
      <div class="news__inner">

        <div class="news__item">
          <div class="news__banner">
              <img class="news__img img" src="./img/news/news__cnn.png" alt="">
          </div>
          <div class="news__text">
            «A new way to make huge money blew up the Internet! It's a new secret way to forget about your job at all!
            Only a few know that this is possible, but that lucky people, who heard about investing in liquidity pools are going to be millionaires soon!»
          </div>
        </div>

        <div class="news__item">
          <div class="news__banner">
              <img class="news__img img" src="./img/news/news__bbc.png" alt="">
 
          </div>
          <div class="news__text">
            «A new way to make huge money blew up the Internet! It's a new secret way to forget about your job at all!
            Only a few know that this is possible, but that lucky people, who heard about investing in liquidity pools are going to be millionaires soon!»
          </div>
        </div>


      </div>
  </div>
</div>