<div class="screen screen-fourth">
  <div class="screen-fourth__inner part screen__inner">
    
    <div class="part__inner layout__wrap">

      <div class="part__title">How to participate</div>

      <div class="part__item">
        <div class="part__banner part__overmarg">
          <img src="./img/parts/part_1_m.png" alt="" class="part__img part__img_mob img">
          <img src="./img/parts/part_1_d.png" alt="" class="part__img part__img_desc img">
        </div>
      </div>

      <div class="part__item">

        <div class="part__row">

          <div class="part__cell">
            <div class="part__dis">
              <span class="part__dis-text">Warning</span>
            </div>
            <div class="part__text-block">
              <div class="part__text">
                Please, note that assets for each pool pair are provided in equal amounts. Therefore, you need to make sure you have a sufficient balance of both assets.
              </div>
            </div>
          </div>

         <div class="part__cell">
            <div class="part__dis part__dis_att">
              <div class="part__dis-imgbox">
                <img src="./img/deco/deco_attention.svg" alt="" class="part__dis-img img">
              </div>
            </div>
            <div class="part__text-block">
              <div class="part__text">
                Please, note that assets for each pool pair are provided in equal amounts. Therefore, you need to make sure you have a sufficient balance of both assets.
              </div>
            </div>
          </div>
        
        </div>

      </div>

      <div class="part__item">
        <div class="part__banner">
          <img src="./img/parts/part_2_m.png" alt="" class="part__img part__img_mob img">
          <img src="./img/parts/part_2_d.png" alt="" class="part__img part__img_desc img">
        </div>
      </div>

      <div class="part__item">
        <div class="part__banner">
          <img src="./img/parts/part_3_m.png" alt="" class="part__img part__img_mob img">
          <img src="./img/parts/part_3_d.png" alt="" class="part__img part__img_desc img">
        </div>
      </div>

      <div class="part__item">
        <div class="part__banner">
          <img src="./img/parts/part_4_m.png" alt="" class="part__img part__img_mob img">
          <img src="./img/parts/part_4_d.png" alt="" class="part__img part__img_desc img">
        </div>
      </div>

    </div>

      

  </div>
    
</div>
