<div class="screen-eighth screen">
  <div class="screen__inner layout__wrap screen-eighth__inner">
    <div class="screen-eighth__title">Waves.Exchange liquidity pools</div>
    <div class="screen-eighth__text">
      Liquidity pools are a great investment opportunity offered by Waves.Exchange. Thanks to these pools, the operation of the exchange and all of its services are secured, which explains the pools’ highly competitive APYs.
    </div>

    <div class="screen-eighth__button-box">
      <a href="/registration.html" class="button button_size_l">
          <div class="button__text">Provide liquidity and earn</div>
        </a>
    </div>
  </div>
</div>