<div class="screen screen-six">
  <div class="screen__inner layout__wrap pool">
      <div class="pool__inner">
        <div class="pool__title-box">
          <div class="pool__title">Waves.Exchange pools in numbers</div>
        </div>
        <div class="pool__item">
          <div class="pool__benefit">
              $35M+
          </div>
          <div class="pool__text"> 
            Total liquidity
          </div>
        </div>

        <div class="pool__item">
          <div class="pool__benefit">
            130+%
          </div>
          <div class="pool__text">
            APY
          </div>
        </div>

        <div class="pool__item">
          <div class="pool__benefit">
            31K
          </div>
          <div class="pool__text">
            Users invested 
            on Waves.Exchange
          </div>
        </div>

      </div>
  </div>
</div>