<div class="banner">
  <div class="banner__inner layout__wrap">
    <div class="banner__title">Step by step guide to start earning</div>
    <div class="banner__video video">
      <div class="video__inner">
        <video
          class="video__player"
          loop
          controls
          webkit-playsinline 
          playsinline
          poster="./img/cover.jpg"
        >
            <source
              src="/files/video.mp4"
              type="video/mp4"
            >
        </video>
                
      </div>
    </div>
    <div class="banner__button">
      <div class="button button_size_l">
        <span class="button__text">Start earning</span>
      </div>
    </div>
  </div>
</div>